<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category
            name="JIUse"
            id="JIUse.commands.category">
      </category>
      <command
            name="Select to Move"
            categoryId="JIUse.commands.category"
            id="JIUse.commands.selectMove">
      </command>
      <command
            categoryId="JIUse.commands.category"
            id="JIUse.commands.showClassMetric"
            name="Show Class Metric">
         <commandParameter
               id="JIUse.metric"
               name="metric"
               optional="false">
         </commandParameter>
      </command>
            <command
            categoryId="JIUse.commands.category"
            id="JIUse.commands.showMethodMetric"
            name="Show Method Metric">
         <commandParameter
               id="JIUse.metric"
               name="metric"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="JIUse.commands.category"
            id="JIUse.commands.fromTo"
            name="Input From and To">
      </command>
      <command
            categoryId="JIUse.commands.category"
            id="JIUse.commands.movement"
            name="Input Movement">
      </command>
      <command
            categoryId="JIUse.commands.category"
            id="JIUse.commands.batchFileMovement"
            name="Batch File Movement">
      </command>
            <command
            categoryId="JIUse.commands.category"
            id="JIUse.commands.batchFolderMovement"
            name="Batch Folder Movement">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="JIUse.commands.selectMove"
            class="br.com.bhansen.handler.select.SelectMove">
      </handler>
      <handler
            class="br.com.bhansen.handler.select.ShowClassMetric"
            commandId="JIUse.commands.showClassMetric">
      </handler>
      <handler
            class="br.com.bhansen.handler.select.ShowMethodMetric"
            commandId="JIUse.commands.showMethodMetric">
      </handler>
      <handler
            commandId="JIUse.commands.fromTo"
            class="br.com.bhansen.handler.input.FromToMovement">
      </handler>
      <handler
            commandId="JIUse.commands.movement"
            class="br.com.bhansen.handler.input.Movement">
      </handler>
      <handler
            commandId="JIUse.commands.batchFileMovement"
            class="br.com.bhansen.handler.input.BatchFileMovement">
      </handler>
      <handler
            commandId="JIUse.commands.batchFolderMovement"
            class="br.com.bhansen.handler.input.BatchFolderMovement">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="JIUse.commands.selectMove"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="iMove"
               mnemonic="M"
               id="JIUse.menus.jiuse">
			<menu
               label="Metrics"
               mnemonic="M"
               id="JIUse.menus.metrics">
			<menu
               label="Class"
               mnemonic="M"
               id="JIUse.menus.ClassMetric">
	            <command
	                  commandId="JIUse.commands.showClassMetric"
	                  id="JIUse.menus.showIUCClass"
	                  label="Show IUC"
	                  mnemonic="S">
                <parameter
                      name="JIUse.metric"
                      value="IUC">
                </parameter>
	            </command>
	            <command
	                  commandId="JIUse.commands.showClassMetric"
	                  id="JIUse.menus.showCAMCClass"
	                  label="Show CAMC"
	                  mnemonic="S">
                <parameter
                      name="JIUse.metric"
                      value="CAMC">
                </parameter>
	            </command>
	           	<command
	                  commandId="JIUse.commands.showClassMetric"
	                  id="JIUse.menus.showNHDMClass"
	                  label="Show NHDM"
	                  mnemonic="S">
                <parameter
                      name="JIUse.metric"
                      value="NHDM">
                </parameter>
	            </command>
             </menu>
             <menu
               label="Method"
               mnemonic="M"
               id="JIUse.menus.MethodMetric">
	            <command
	                  commandId="JIUse.commands.showMethodMetric"
	                  id="JIUse.menus.showIUCMethod"
	                  label="Show IUC"
	                  mnemonic="S">
                <parameter
                      name="JIUse.metric"
                      value="IUC">
                </parameter>
	            </command>
	            <command
	                  commandId="JIUse.commands.showMethodMetric"
	                  id="JIUse.menus.showCAMCMethod"
	                  label="Show CAMC"
	                  mnemonic="S">
                <parameter
                      name="JIUse.metric"
                      value="CAMC">
                </parameter>
	            </command>
             </menu>
             </menu>
             <menu
               label="Move Method"
               mnemonic="M"
               id="JIUse.menus.movemethod">
	            <command
	                  commandId="JIUse.commands.selectMove"
	                  id="JIUse.menus.selectMove"
	                  label="Select to Move"
	                  mnemonic="S">
	            </command>
	            <command
	                  commandId="JIUse.commands.fromTo"
	                  id="JIUse.menus.fromTo"
	                  label="Input From and To Movement"
	                  mnemonic="S">
	            </command>
	            <command
	                  commandId="JIUse.commands.movement"
	                  id="JIUse.menus.movement"
	                  label="Input Movement"
	                  mnemonic="S">
	            </command>
	            <command
	                  commandId="JIUse.commands.batchFileMovement"
	                  id="JIUse.menus.batchFileMovement"
	                  label="Batch File Movement"
	                  mnemonic="S">
	            </command>
	           	<command
	                  commandId="JIUse.commands.batchFolderMovement"
	                  id="JIUse.menus.batchFolderMovement"
	                  label="Batch Folder Movement"
	                  mnemonic="S">
	            </command>
             </menu>
         </menu>
      </menuContribution>
   </extension>

</plugin>
