<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category
            name="iMove"
            id="iMove.commands.category">
      </category>
      <command
            name="Select to Move"
            categoryId="iMove.commands.category"
            id="iMove.commands.selectMove">
         <commandParameter
               id="iMove.type"
               name="type"
               optional="false">
         </commandParameter>
         <commandParameter
               id="iMove.metric"
               name="metric"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="iMove.commands.category"
            id="iMove.commands.showClassMetric"
            name="Show Class Metric">
         <commandParameter
               id="iMove.type"
               name="type"
               optional="false">
         </commandParameter>
         <commandParameter
               id="iMove.metric"
               name="metric"
               optional="false">
         </commandParameter>
      </command>
            <command
            categoryId="iMove.commands.category"
            id="iMove.commands.showMethodMetric"
            name="Show Method Metric">
         <commandParameter
               id="iMove.type"
               name="type"
               optional="false">
         </commandParameter>
         <commandParameter
               id="iMove.metric"
               name="metric"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="iMove.commands.category"
            id="iMove.commands.movement"
            name="Input Movement">
         <commandParameter
               id="iMove.type"
               name="type"
               optional="false">
         </commandParameter>
         <commandParameter
               id="iMove.metric"
               name="metric"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="iMove.commands.category"
            id="iMove.commands.batchFileMovement"
            name="Batch File Movement">
         <commandParameter
               id="iMove.type"
               name="type"
               optional="false">
         </commandParameter>
         <commandParameter
               id="iMove.metric"
               name="metric"
               optional="false">
         </commandParameter>
      </command>
            <command
            categoryId="iMove.commands.category"
            id="iMove.commands.batchFolderMovement"
            name="Batch Folder Movement">
        <commandParameter
               id="iMove.type"
               name="type"
               optional="false">
         </commandParameter>
         <commandParameter
               id="iMove.metric"
               name="metric"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="iMove.commands.selectMove"
            class="br.com.bhansen.handler.select.SelectMove">
      </handler>
      <handler
            class="br.com.bhansen.handler.select.ShowClassMetric"
            commandId="iMove.commands.showClassMetric">
      </handler>
      <handler
            class="br.com.bhansen.handler.select.ShowMethodMetric"
            commandId="iMove.commands.showMethodMetric">
      </handler>
      <handler
            commandId="iMove.commands.movement"
            class="br.com.bhansen.handler.input.Movement">
      </handler>
      <handler
            commandId="iMove.commands.batchFileMovement"
            class="br.com.bhansen.handler.input.BatchFileMovement">
      </handler>
      <handler
            commandId="iMove.commands.batchFolderMovement"
            class="br.com.bhansen.handler.input.BatchFolderMovement">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="iMove.commands.selectMove"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="iMove"
               mnemonic="M"
               id="iMove.menus.jiuse">
			<menu
               label="Metrics"
               mnemonic="M"
               id="iMove.menus.metrics">
			<menu
               label="Class"
               mnemonic="M"
               id="iMove.menus.ClassMetric">
	            <command
	                  commandId="iMove.commands.showClassMetric"
	                  id="iMove.menus.showIUCClass"
	                  label="Show IUC"
	                  mnemonic="S">
	            <parameter
                      name="iMove.type"
                      value="class">
                </parameter>
                <parameter
                      name="iMove.metric"
                      value="IUC">
                </parameter>
	            </command>
	            <command
	                  commandId="iMove.commands.showClassMetric"
	                  id="iMove.menus.showCAMCClass"
	                  label="Show CAMC"
	                  mnemonic="S">
				<parameter
                      name="iMove.type"
                      value="class">
                </parameter>
                <parameter
                      name="iMove.metric"
                      value="CAMC">
                </parameter>
	            </command>
             </menu>
             <menu
               label="Method"
               mnemonic="M"
               id="iMove.menus.MethodMetric">
	            <command
	                  commandId="iMove.commands.showMethodMetric"
	                  id="iMove.menus.showIUCMethod"
	                  label="Show IUC"
	                  mnemonic="S">
                <parameter
                      name="iMove.metric"
                      value="IUC">
                </parameter>
	            </command>
	            <command
	                  commandId="iMove.commands.showMethodMetric"
	                  id="iMove.menus.showCAMCMethod"
	                  label="Show CAMC"
	                  mnemonic="S">
	            <parameter
                      name="iMove.type"
                      value="method">
                </parameter>
                <parameter
                      name="iMove.metric"
                      value="CAMC">
                </parameter>
	            </command>
             </menu>
             </menu>
             <menu
               label="Move Method"
               mnemonic="M"
               id="iMove.menus.movemethod">
	            <command
	                  commandId="iMove.commands.selectMove"
	                  id="iMove.menus.selectMove"
	                  label="Select to Move"
	                  mnemonic="S">
	            <parameter
                      name="iMove.type"
                      value="method">
                </parameter>
                <parameter
                      name="iMove.metric"
                      value="IUC + CAMC">
                </parameter>
	            </command>
	            <command
	                  commandId="iMove.commands.movement"
	                  id="iMove.menus.movement"
	                  label="Input Movement"
	                  mnemonic="S">
	            <parameter
                      name="iMove.type"
                      value="method">
                </parameter>
                <parameter
                      name="iMove.metric"
                      value="IUC + CAMC">
                </parameter>
	            </command>
	            <command
	                  commandId="iMove.commands.batchFileMovement"
	                  id="iMove.menus.batchFileMovement"
	                  label="Batch File Movement"
	                  mnemonic="S">
	            <parameter
                      name="iMove.type"
                      value="method">
                </parameter>
                <parameter
                      name="iMove.metric"
                      value="IUC + CAMC">
                </parameter>
	            </command>
	           	<command
	                  commandId="iMove.commands.batchFolderMovement"
	                  id="iMove.menus.batchFolderMovement"
	                  label="Batch Folder Movement"
	                  mnemonic="S">
	            <parameter
                      name="iMove.type"
                      value="method">
                </parameter>
                <parameter
                      name="iMove.metric"
                      value="IUC + CAMC">
                </parameter>
	            </command>
             </menu>
				<command
	                  commandId="iMove.commands.goldCheck"
	                  id="iMove.menus.goldCheck"
	                  label="Gold Check"
	                  mnemonic="S">
	            </command>
	           	<command
	                  commandId="iMove.commands.mergeResults"
	                  id="iMove.menus.mergeResults"
	                  label="Merge Results"
	                  mnemonic="S">
	            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
